{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Christmas again!</title>
<meta name="keywords" content="" />
<meta name="description" content="" />


    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}" type="text/css"></link>
    <link rel="stylesheet" href="{% static 'css/eshop.css' %}" type="text/css"></link>

    <script type="application/javascript" src="{% static 'js/simplecart.js' %}"></script>
    <script type="application/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="application/javascript" src="{% static 'jquery-ui/jquery-ui.js' %}"></script>

<script>
    simpleCart({
        checkout: {
            type: "SendForm" ,
            url: "{% url "checkout" %}"
    },
        cartColumns: [
            { attr: "name" }, //, label: "Наименование" } ,
            { attr: "price" }, // , label: "Цена", view: 'currency' } ,
            { view: "decrement" , label: false , text: "-" } ,
            { attr: "quantity" , label: "Кол-во" } ,
            { view: "increment" , label: false , text: "+" } ,
            { attr: "total" , label: "Всего", view: 'currency' } ,
            { view: "remove" , text: "Удалить" , label: false }
        ]
    });

    simpleCart.currency({
        code: "RUR" ,
        name: "Russian rubles" ,
        symbol: " Руб." ,
        delimiter: " " ,
        decimal: "," ,
        after: true ,
        accuracy: 2
    });

    // add item to cart

</script>
</head>

<body>
{% csrf_token %}

<div id="templatemo_container">

	<div id="templatemo_top_panel">

        <div id="templatemo_header">
          <!--Новый-->
        </div>

        <div id="templatemo_shoppingcart">
	        <h3>Корзина покупок</h3><span class="simpleCart_total"></span><br>
            <span class="simpleCart_items"></span><span class="simpleCart_quantity"></span> товара - <span class="simpleCart_total"></span>
            <br>
            <a href="javascript:;" class="simpleCart_checkout">Оформить</a>
            <a href="javascript:;" class="simpleCart_empty">Очистить</a>
        </div>

    </div> <!-- end of top panel -->

    <div id="templatemo_banner">
    	<div id="templatemo_banner_text">
            <h1>Снова Новый год!</h1>
            <h4>Купите шариковых, а то у вас их нет!</h4>
            <!--<div class="more_button"><a href="#">View  All</a></div>-->
    	</div>
    </div> <!-- end of banner -->

    <div id="templatemo_menu">
        <ul>
            <li><a href="/"  class="current">Главная</a></li>
            <li><a href="#">Мой профиль</a></li>
            <li><a href="#" class="lastmenu">Контакты</a></li>
        </ul>
    </div> <!-- end of menu -->

    <div id="templatemo_content">

    	<div id="templatemo_left_panel">

            <div class="templatemo_red_panel">
	             <h2>Категории товаров</h2>
                 <div class="templatemo_left_content">
                    <ul>
                        {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
				</div>
			</div>
             <div class="templatemo_red_panel_bottom"></div>

{% block yellowpanel %}
{% endblock %}

        </div> <!-- end of left panel -->
<div id="templatemo_right_panel">
<div id="dialog" title="Ваша корзина"></div>
</div>

<div id="templatemo_right_panel">
    <div class="templatemo_right_panel_fullwidth">
        <h1>Добро пожаловать!</h1>
        <img src="/static/images/image(200x120).gif" alt="image" />
        <p>В нашем новогоднем интернет магазине мы хотим предоставить покупателям то, что хотели бы получать сами: легкость и простоту в нахождении товара, реальные цены, гибкая система скидок, оперативное обслуживание и замечательный товар отечественного производства.</p>
        <p>Наш интернет магазин торгует оптом и в розницу, а весной приглашаем всех оптовиков на совместную закупку у производителей. Ежегодно в сентябре у нас проводится предсезонная распродажа.</p>
        <p>Осуществляется курьерская доставка заказов по Москве, МО, Питеру, Нижнему Новгороду. В Москве пятнадцать пунктов выдачи заказов, возможен самовывоз со склада в г. Мытищи и в Медведково. Заказы в регионы доставляются почтой России и транспортными компаниями.</p>
    </div>

{% block content %}
{% endblock %}

</div>

<div id="templatemo_content_bottom"></div>

    <div id="templatemo_footer">
    <br />Copyright © 2016 <strong>My super mega newbie python project!</strong>
    </div> <!-- end of footer -->
<!-- end of container -->
    </div>
</div>

</body>
</html>