{% extends "eshop/_base.html" %}

{% block content %}

    <div id="templatemo_right_panel">


    {% for product in products %}

    <div class="productrow">
     <div class="productbox simpleCart_shelfItem">
        <div class="left">{{ product.image_tag }}</div>
            <div class="right">
            <h3 class="item_name">{{ product.name }}</h3>
                <div class="templatemo_price">
                    <span class="item_price">{{ product.sell_price}} руб.</span>
                    <span class="item_pk">{{ product.id }}</span>
                    </div>
                    <div class="addtocard_btn">
                        <a class="item_add" id="addtocart" rel="{{ product.id }}" href="javascript:;">В корзину</a>
                    </div>
            </div>
    </div>
        </div>

    {% endfor %}


</div>

{% endblock %}